* {
    color: var(--default);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root {
    --theme: blueviolet;
    --default: white;
    --theme-dark:  rgb(25, 54, 78);

}

body {
    background-color: rgba(11, 57, 65, 0.858);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

header {
    display: flex;
    padding: 10px 45px 10px 55px;
    align-items:center;
    justify-content: space-between;
    background-color: var(--theme);
    color: var(--default);
}

main footer {
    display: flex;
    padding: 10px 45px 10px 55px;
    align-items:center;
    justify-content: space-between;
    background-color: var(--theme-dark);
    color: whitesmoke;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    display: flex;
    color: var(--default);
    text-decoration: overline;
}

h2 {
    text-align: center;
    margin-top: 20px;
    position:relative;
}

h3 {
    text-align: center;
    margin-top: 20px;
    position:relative;

}

p {
    font-style: normal;
    margin: 20px;
}

.personal-img {
    flex: 1;
    padding: 10px;

}

.box-right {
    flex: 2;
    justify-content: right;
    display: flex;
    padding: 10px;
    background-color: rgb(25, 54, 78);
   


}
.card {
    flex: 1 0 0;
    width: 25%;
    padding: 10px;
    border-style: dashed;
    border-width: 1px;
    margin-left: 20px;
    min-width: 600px;
}

.work-done {
        flex: 4;
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        padding: 10px;
        border-style: solid;
        border-width: 1px;
        margin-left: 20px;
        justify-content: center;
        
    }

footer {
    margin-top: 10px;
    padding: 10px 45px 10px 55px;
    
    background-color: var(--theme);
    color: var(--default);
}    

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}    

@media screen and (max-width: 992px) {
    main,
    nav ul,
    aside, {
      flex-direction:column;
    }
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav ul, {
      flex-direction: column;
    }
  }
